<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Employee Page</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>

<h2>Employee to edit:</h2>

<form th:action="@{/employees/editEmployeePage}" th:object="${editEmployee}" th:method="post">
  <div>
    <label>Name:&nbsp;</label>
    <label>
      <input type="text" th:field="*{name}">
    </label>
  </div>
  <div>
    <label>Surname:&nbsp;</label>
    <label>
      <input type="text" th:field="*{surname}">
    </label>
  </div>
  <div>
    <label>Id:&nbsp;</label>
    <label>
      <input type="text" th:field="*{id}" th:readonly=true>
    </label>
  </div>
  <div>
    <label>Age:&nbsp;</label>
    <label>
      <input type="text" th:field="*{age}">
    </label>
  </div>
  <input type="hidden" th:field="*{additionalInfo}">
  <div>
    <button type="submit">Submit</button>
  </div>
</form>



</body>
</html>